VITE_APP_ENV=dev
VITE_API_BASE_URL=https://tobechanged.com
VITE_CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcmsuc29jaWFiLmxpJA
# Access N8N internal API for user registration calls - e.g. to verify user created by us in N8N
N8N_API_URL=https://workflows.socab.li/api/v1
# Access N8N Webhooks to trigger actions
N8N_WEBHOOK_URL=https://workflows.socab.li/webhook
NETLIFY_FUNCTIONS=http://localhost:8888/.netlify/functions

# Secrets are stored in Netlify by CLI, so we do not have to add them here in clear text
# N8N_SECRET is the webhook token we have to sent for N8N webhooks
# CLERK_TOKEN to request user data from Clerk API (in Clerk Api Keys)
# N8N_RECEIVE_TOKEN token to receive calls from N8N
