body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 0 20px;
}

h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.intro {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.centered {
    display: flex;
    justify-content: center;
}

.text-only-page {
    margin-bottom: 3rem;

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
    }

    p, ol, ul {
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

footer {
    background: linear-gradient(90deg, rgba(17, 17, 17, 0.55), rgba(51, 51, 51, 0.55));
    color: white;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0.5rem 1rem;
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
    z-index: 20;
    margin-top: 5rem;

    a {
        color: white;
        text-decoration: none;
    }
}

.animated-details {
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.animated-details[open] {
    max-height: 1000px; /* Adjust to your content’s approximate max height */
}

.animated-details:not([open]) {
    max-height: 35rem;
}

.code-block {
    display: block;
    background-color: #333333;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow-x: auto;

}

.description {
    font-size: 1.12rem;
    color: #444444;
    margin-bottom: 2.5rem;
}

.description-md {
    font-size: 1.5rem;
    color: #444444;
    margin-bottom: 2.5rem;
    text-align: center;
}

.card-base {
    position: relative;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
