.dashboard {
    .msg {
        transition: bottom 0.5s ease-in-out;
        position: fixed;
        bottom: -100px;
        right: 10px;
        width: 300px;
        margin: var(--default-margin);
        padding: 1rem;
        background-color: lightgreen;
        border-radius: 0.5rem;
        text-align: center;

        &.show {
            animation: showAndHideAgain 1.5s;
        }
    }

    h2 {
        margin-top: 4rem;
    }

    section {
        background-color: #f1f1f1;
        padding: 3rem;
        border-radius: 1rem;
    }

    .credentials {
        margin: 3rem 0;

        .creds div {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            margin: 1rem 0;

            label {
                display: block;
                width: 100%;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    details {
        margin: var(--default-margin);

        summary {
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
        }

        p {
            margin: 0.5rem 0;
            color: #444444;
            font-size: 1.1rem;
        }

        button {
            width: 100%;
        }

        .details {
            margin-top: var(--default-margin);
            background-color: #f1f1f1;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;

            a {
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }


    .user-workflows {
        li {
            display: grid;
            gap: 1rem;
            align-items: center;
            grid-template-columns: 20px 1fr auto;
            margin: var(--default-margin);
            background-color: #f1f1f1;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
        }

        form {
            margin: 0;
        }

        .status {
            width: 15px;
            height: 15px;
            border-radius: 50%;

            &.pending {
                background-color: #c6c5c5;
                background: linear-gradient(0deg, #c6c5c5 0%, #e7e6e6 100%);
                border: 1px solid #c6c5c5;
            }

            &.running {
                background-color: #00aaff;
                background: linear-gradient(0deg, #00aaff 0%, #00eeff 100%);
                border: 1px solid #00aaff;
            }

            &.success {
                background-color: #00ff00;
                background: linear-gradient(0deg, #009900 0%, #00ff00 100%);
                border: 1px solid #00ff00;
            }

            &.error {
                background-color: #ff0000;
                background: linear-gradient(0deg, #990000 0%, #ff0000 100%);
                border: 1px solid #990000;
            }
        }

        .delete {
            background-color: #cc0000;
            color: white;
            border: none;
            padding: 0.25rem 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: small;
        }
    }

    .no-data {
        margin: var(--default-margin);
        padding: 1rem;
        background-color: #a9d9f8;
        border-radius: 0.5rem;
    }

    form {
        gap: 1rem;
        margin: var(--default-margin) 0;
    }

    label {
        font-weight: bold;
        display: block;
        justify-self: start;

        svg {
            display: inline;
            width: 1rem;
            color: #6666aa;
            position: relative;
            top: -0.35rem;
            left: -0.2rem;
        }
    }

    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="password"] {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 1rem;

        &.has-error {
            border: 2px solid red;
        }
    }

    button {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: none;
        background-color: #333;
        color: white;
        cursor: pointer;
    }
}

@keyframes showAndHideAgain {
    0% {
        bottom: -100px;
    }
    10% {
        bottom: 50px;
    }
    90% {
        bottom: 50px;
    }
    100% {
        bottom: -100px;
    }
}
